!!!
%html
  %head
    %meta{:name => "viewport", :content => "width=device-width, initial-scale=1, maximum-scale=1"}
    %title= content_for?(:title) ? yield(:title) : "template"
    %meta{:content => content_for?(:description) ? yield(:description) : 'template', :name => "description"}
    = stylesheet_link_tag :application, :media => "all"
    = javascript_include_tag :application
    = csrf_meta_tags
    = yield(:head)
  %body{:class => "#{controller_name} #{action_name}"}
    .navbar.application-navbar.navbar-fixed-top
      .container
        = render 'layouts/navigation'
    #main.application-main-content{:role => "main"}
      .container
        .content
          .row
            .col-lg-12
              = render 'layouts/messages'
              = yield
      %footer.footer
        .container
          .row
            .col-sm-4.print-hide.footer-version
              = app_version